<%- include('../partials/head')%>
<link rel="stylesheet" href="/style.css"/>
    <body>
      <%- include('../partials/nav')%>
        <p><%= home.houseName %></p>
       <%- include ('../partials/favouriteButton')%>
<%- include ('../partials/footer')%>
    </body>
</html>