<link rel="stylesheet" href="/header.css"/>
<link rel="stylesheet" href="/output.css"/>
<header>
    <p></p>
    <div id="navDiv">
        <% if(isLoggedIn === true){%>
    <a href="/host/addHome" class="<%= active === 'addHome' ? 'bg-red-600 shadow-black shadow-lg' : 'hover:shadow-black shadow-lg hover:bg-red-500' %> py-2 px-4 rounded transition duration-300 no-underline">
        Add Home</a>

    <a href="/store/booked" class="<%= active === 'booked' ? 'bg-red-600 shadow-black shadow-lg' : 'hover:shadow-black shadow-lg hover:bg-red-500' %> py-2 px-4 rounded transition duration-300 no-underline">
        Bookings</a>

    <a href="/store/favourite" class="<%= active === 'favourite' ? 'bg-red-600 shadow-black shadow-lg' : 'hover:shadow-black shadow-lg hover:bg-red-500' %> py-2 px-4 rounded transition duration-300 no-underline">
        Favourites</a>

    <a href="/store/" class="<%= active === 'index' ? 'bg-red-600 shadow-black shadow-lg' : 'hover:shadow-black shadow-lg hover:bg-red-500' %> py-2 px-4 rounded transition duration-300 no-underline">
        Landing Page</a>

    <a href="/host/addHome" class="<%= active === 'addHome' ? 'bg-red-600 shadow-black shadow-lg' : 'hover:shadow-black shadow-lg hover:bg-red-500' %> py-2 px-4 rounded transition duration-300 no-underline">
        Add Home</a>

    <a href="/host/hostHomeList" class="<%= active === 'hostHomeList' ? 'bg-red-600 shadow-black shadow-lg' : 'hover:shadow-black shadow-lg hover:bg-red-500' %> py-2 px-4 rounded transition duration-300 no-underline">
        Added by you</a>
        <% }%>

    <a href="/store/homeList" class="<%= active === 'homeList' ? 'bg-red-600 shadow-black shadow-lg' : 'hover:shadow-black shadow-lg hover:bg-red-500' %> py-2 px-4 rounded transition duration-300 no-underline">
        Homes</a>

        <a href="/auth/login" class="<%= active === 'login' ? 'bg-red-600 shadow-black shadow-lg' : 'hover:shadow-black shadow-lg hover:bg-red-500' %> py-2 px-4 rounded transition duration-300 no-underline">
            Login</a>

</div>
<p></p>
</header>