<%- include('../partials/head')%>
<link rel="stylesheet" href="/addHomeStyle.css"/>
	<body>
		<%- include('../partials/nav')%>
        <form action="/host/<%= editing ?'editHome':'addHome'%>" method="POST">
			<h1>
				<%= editing ? "Edit" : "Add" %> Your Home 
			</h1>
			<div id="div">
				<input type="hidden" <% if(editing) {%>value="<%=detail._id%>"<%}%> name="_id"/>
				<div>
					<label>
						 House Name
					</label>
            <input type="text" <% if(editing) {%>value="<%=detail.houseName%>"<%}%> name="houseName" placeholder="House Name"/>
			<label>
				Price
			</label>
	<input type="number" <% if(editing) {%>value="<%=detail.housePrice%>"<%}%> name="housePrice" placeholder="Price Per Night"/>
	<label>
		Location
	</label>
<input type="text" <% if(editing) {%>value="<%=detail.houseLocation%>"<%}%> name="houseLocation" placeholder="Location"/>
<label>
	Enter your Contact Email
</label>
<input type="email" <% if(editing) {%>value="<%=detail.houseOwnerEmail%>"<%}%> name="houseOwnerEmail" placeholder="Contact Email"/>
<label>
	Contact Mobile
</label>
<input type="number" <% if(editing) {%>value="<%=detail.houseOwnerMobile%>"<%}%> name="houseOwnerMobile" placeholder="Mobile NO."/>
			<label>
				Describe your house
			</label>
			<input <% if(editing) {%>value="<%=detail.description%>"<%}%> name="description" placeholder="Describe your house here"></input>
		</div>
            <input id="submit" type="submit" value="<%= editing ? 'Update Home' : 'Add Home' %>"/>
			</div>
			<p> *For multiple response come back from next page.</p>
        </form>
		<%- include ('../partials/footer')%>
	</body>
</html>
		